# site wide default variables
---
verbose: true
hostname: "example"
timezone: "America/Los_Angeles"
public_key: ansible.pub

cert_enabled: false
certbot_email: "name@example.com"

site_fqdn: example.com
domain_app: 'blog'

certbot_domains: "{{ site_fqdn }},\
                  files.{{ site_fqdn }},\
                  git.{{ site_fqdn }},\
                  blog.{{ site_fqdn }},\
                  www.{{ site_fqdn }}"

app_git_repo: "https://git.example.com/name/{{ app_name }}.git"
file_server: "https://files.example.com"

# nginx forward proxy
limit_app: true
limit_source_ip: ['192.168.1.0/24']

containers: true
containers_path: '/mnt/containers'

# munin
munin_username: 'example'
munin_password: 'example'

# transmission-daemon
user_transmission: "example"
pass_transmission: "example"

# pihole dns
pihole_pass: "example"
pihole_limit: true
pihole_ips: ['192.168.1.0/24']

# plex media server
plex_claim: 'claim-0000000000000000000'

# ac backup
acsmFQDN: example.net
adminuser: user
assettouser: game_user
backup_path: '/home/game_user/backups'
backup_destination: '/mnt/backups'
backup_key: 'id_rsa'
