<pool type='dir'>
  <name>pool-default</name>
  <uuid>e3f887fd-ea48-47b6-8644-2f84ff03b6a3</uuid>
  <capacity unit='bytes'>268304384000</capacity>
  <allocation unit='bytes'>10595033088</allocation>
  <available unit='bytes'>257709350912</available>
  <source>
  </source>
  <target>
    <path>/mnt/vms/pool-default</path>
    <permissions>
      <mode>0755</mode>
      <owner>1100</owner>
      <group>1100</group>
    </permissions>
  </target>
</pool>
