# flexget config.yml
#
---
schedules:
  - tasks: [raspberrypios]
    interval:
      days: 7
      jitter: 60

  - tasks: [libreoffice_mac_aarch, libreoffice_mac_x86, libreoffice_rpm]
    schedule:
      hour: 9
      day_of_week: tue
      jitter: 60

  - tasks: [f1_hot, wec]
    schedule:
      minute: "*/5"
      day_of_week: thu,fri,sat,sun
      jitter: 15

tasks:
  raspberrypios:
    rss:
      url: "https://downloads.raspberrypi.org/rss.xml"
    regexp:
      accept:
        - "{{ ansible_date_time.year }}"
    download: "/watch_folder"

  libreoffice_rpm:
    html:
      url: "https://www.libreoffice.org/download/download-libreoffice/?type=rpm-x86_64"
    regexp:
      accept:
        - LibreOffice_25
      reject:
        - sdk
        - src
        - helppack
    download: "/watch_folder"

  libreoffice_mac_aarch:
    html:
      url: "https://www.libreoffice.org/download/download-libreoffice/?type=mac-aarch64"
    regexp:
      accept:
        - LibreOffice_25
      reject:
        - sdk
        - src
        - helppack
    download: "/watch_folder"

  libreoffice_mac_x86:
    html:
      url: "https://www.libreoffice.org/download/download-libreoffice/?type=mac-x86_64"
    regexp:
      accept:
        - LibreOffice_25
      reject:
        - sdk
        - src
        - helppack
    download: "/watch_folder"

  wec:
    rss:
      url: "{{ rss_2025_wec }}"
    regexp:
      accept:
        - 'Race'
        - 'English'
      reject:
        - 'Pack'
        - 'Hilights'
        - 'Review'
        - '.ts'
    download: "/watch_folder"

  f1_hot:
    rss:
      url: "{{ rss_2025_f1 }}"
    regexp:
      accept:
        - Race
        - Sprint
        - Quali
        - SKY
        - F1TV
        - 1080p
        - English
      reject:
        - Pre
        - Post
        - FP1
        - FP2
        - FP3
        - Chequered
    download: "/watch_folder"

  f1:
    rss:
      url: "{{ rss_2025_f1 }}"
    regexp:
      accept:
        - Race
        - Qualifying
        - Sprint
        - English
      reject:
        - Pre
        - Post
        - F1TV
        - Chequered
    download: "/watch_folder"

  f1_720p:
    rss:
      url: "{{ rss_2025_f1_enzo }}"
    regexp:
      accept:
        - Race
        - Quali
        - Sprint
        - English
      reject:
        - FP1
        - FP2
        - FP3
        - Pre
        - Post
        - F1TV
        - Chequered
    download: "/watch_folder"
