<!DOCTYPE html>

<html>

    <head>
        <style>
            html {font-family: Helvetica, Arial, sans-serif;}
            body {background-color: white;}
            h1   {color: black;}
        </style>

        <title>Error</title>
    </head>

    <body>
        <p><br></p>
        <div style="text-align:center;margin: 0 auto;">
            <p>
                <h1>Service temporarily unavailable</h1>
                <hr width="80%">
                <img align="center" src="https://www.{{ site_fqdn }}/fake_cake.png">
            </p>
        </div>
    </body>

</html>
