<!DOCTYPE html>

<html>

    <head>
        <style>
            html {font-family: Helvetica, Arial, sans-serif;}
            body {background-color: white;}
            h1   {color: black;}
        </style>

        <title>Index: {{ app_name }}</title>
    </head>

    <body>
        <p><br></p>
        <div style="text-align:center;margin: 0 auto;">
            <p>
                <h1>{{ app_name }}.{{ site_fqdn }}</h1>
                <br>
                <img src="{{ app_name }}_icon.png" width="300px" height="300px">
            </p>
        </div>
    </body>

</html>
