# pihole-clone main.yml
---
- name: create isolation user and group. Enable linger
  ansible.builtin.include_role:
    name: common
    tasks_from: create_user.yml
  vars:
    user: "{{ clone_user }}"
    uid: "{{ clone_uid }}"
    group: "{{ clone_group }}"
    gid: "{{ clone_gid }}"
    comment: "{{ clone_comment }}"

- name: install pihole container
  ansible.builtin.include_role:
    name: pihole
    tasks_from: podman_pihole.yml
    public: true
  vars:
    app_user: "{{ clone_user }}"
    app_uid: "{{ clone_uid }}"
    app_group: "{{ clone_group }}"
    app_name: "{{ clone_name }}"
    app_port: "{{ clone_port }}"
  when: containers and not ansible_facts.machine == "armv7l"

- name: check if pihole is installed on rpi2b
  ansible.builtin.stat:
    path: /etc/pihole
  register: pihole_path_check

- name: install pihole on rpi2b (armv7l)
  ansible.builtin.include_role:
    name: pihole
    tasks_from: rpi2b_pihole.yml
  vars:
    app_user: "{{ clone_user }}"
    app_uid: "{{ clone_uid }}"
    app_group: "{{ clone_group }}"
    app_name: "{{ clone_name }}"
    app_port: "{{ clone_port }}"
  when: ansible_facts.machine == "armv7l" and not pihole_path_check.stat.exists

- name: update pihole if installed and running on rpi2b
  ansible.builtin.command:
    cmd: pihole -up
  when: ansible_facts.machine == "armv7l" and pihole_path_check.stat.exists

- name: set forward proxy and ports
  ansible.builtin.include_role:
    name: base-nginx
    tasks_from: forward_proxy.yml
  vars:
    app_name: "{{ clone_name }}"
    app_port: "{{ clone_port }}"
  when: containers
