# include files must be listed in smb.conf
#

[{{ app_name }}]
    comment = Timecapsule
    path = {{ app_path }}/{{ app_name }}/%U
    valid users = %U
    writable = yes
    durable handles = yes
    guest ok = no
    read only = no 
    browsable = yes 

;   ref: https://wiki.samba.org/index.php/Configure_Samba_to_Work_Better_with_Mac_OS_X
    fruit:time machine = yes
    spotlight backend = elasticsearch
