<?xml version="1.0" standalone='no'?><!--*-nxml-*-->
<!DOCTYPE service-group SYSTEM "avahi-service.dtd">
<service-group>
  <name replace-wildcards="yes">%h</name>
  <service>
    <type>_smb._tcp</type>
    <port>445</port>
  </service>
  <service>
    <type>_device-info._tcp</type>
    <port>0</port>
    <txt-record>model=Xserve1,1</txt-record>
  </service>
  <service>
    <type>_adisk._tcp</type>
    <txt-record>sys=waMA=0,adVF=0x100</txt-record>
    <txt-record>dk0=adVN={{ app_name }},adVF=0x82,adVU=682fd112-b363-49bf-aaaf-ba3764c6c58f</txt-record>
  </service>
</service-group>
