[Unit]
Description=hd-idle - spin down idle hard disks
Documentation=man:hd-idle(1)

[Service]
Type=forking
EnvironmentFile=/etc/default/hd-idle
ExecStart=/usr/sbin/hd-idle -i 0 -a sda -i 300

[Install]
WantedBy=multi-user.target
