#!/bin/bash
#https://raymii.org/s/tutorials/Munin_optimalization_on_Debian.html

# We always launch munin-html.
# It is a noop if html_strategy is &quot;cgi&quot;
nice /usr/share/munin/munin-html $@ || exit 1

# The result of munin-html is needed for munin-graph.
# It is a noop if graph_strategy is &quot;cgi&quot;
nice /usr/share/munin/munin-graph --cron $@ || exit 1 
