# main.yml
# common role, all systems
---
- name: print facts
  ansible.builtin.debug:
    var: ansible_facts
  when: verbose

- name: set hostname
  ansible.builtin.import_tasks: hostname.yml

- name: enable EPEL on RedHat 8 systems
  ansible.builtin.import_tasks: rhel8epel.yml
  when: ansible_distribution_major_version == "8" and
   (ansible_distribution == "CentOS" or ansible_distribution == 'RedHat')

- name: install utility packages
  ansible.builtin.import_tasks: install_packages.yml

- name: add admin user
  ansible.builtin.import_tasks: admin_user.yml

- name: set firewalld
  ansible.builtin.import_tasks: firewalld.yml

- name: set selinux
  ansible.builtin.import_tasks: selinux.yml

- name: set sysctl options
  ansible.builtin.import_tasks: sysctl.yml
